@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Contatos</h2>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contato in Model.Clientes)
            {
                <tr>
                    <td>@contato.Id</td>
                    <td>@contato.Nome</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@contato.Id">Editar</a>
                        <button type="submit" asp-page-handler="delete" asp-route-id="@contato.Id">Deletar</button>
                        <button type="submit" asp-page-handler="teste" asp-route-id="@contato">Teste</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="./create">Criar Contato</a>
</form>